body {
  font-family: "Open Sans", sans-serif; /* Ensures the font is pleasant and readable */
  font-style: normal;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4; /* A light grey background */
  color: #666666;
}

.buttonContainer {
  display: flex;
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
}

.container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  width: 70%;
  margin-bottom: 50px;
}

.box {
  width: 300px; /* Keeps the thinner width */
  background-color: white;
  padding: 20px;
  border: 2px solid #666666; /* Adds a pink outline */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: adds shadow for better visibility */
  text-align: center; /* Centers the text and image within the box */
  text-decoration: none; /* Removes underline from links */
  color: black; /* Ensures text is black and not the default blue of hyperlinks */
}

.box img {
  width: auto; /* Adjusts width to maintain aspect ratio */
  height: 200px; /* Sets the image height to 100px */
  margin-top: 10px; /* Adds some space between the text and the image */
}

.box p {
  font-size: 28px; /* Increases the font size for the text */
  margin-top: 0; /* Adjusts spacing to the top */
  margin-bottom: 10px; /* Adds some space below the text */
  font-weight: bold;
}

/* Style for the header inside the div */
h1 {
  font-size: 72px;
  padding-top: 50px;
  font-weight: bold;
  text-align: center;
  color: black;
  padding-bottom: 25px;
  font-family: "Raleway", sans-serif;
}
h2 {
  font-size: 40px;
  padding-top: 25px;
  font-weight: bold;
  text-align: center;
  /* color: black; */
  /* padding-bottom: 25px; */
  font-family: "Raleway", sans-serif;
}
h3 {
  color: black;
  font-family: "Raleway", sans-serif;
}

.homeDescription {
  font-size: 28px;
  text-align: center;
}

/* Navbar customizations */
.navbar-custom {
  background-color: #c9daf8ff; /* A nice shade of blue */
}

.navbar-brand,
.nav-link {
  color: #666666;
  font-size: larger;
}

.nav-link {
  margin-right: 10px; /* Space between links */
}

.nav-link:hover {
  color: #1c4587ff;
}

/* Mobile navbar toggle button */
.navbar-toggler {
  border-color: rgba(
    255,
    255,
    255,
    0.5
  ); /* Light white border for the button */
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  /* Custom icon color */
}
.custombutton {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 15px;
  color: white;
  font-weight: bold;
  width: 100%;
  transition: background-color 0.3s ease;
}

.startbutton {
  display: inline-block;
  padding: 10px 90px;

  margin: 20px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #1c4587ff;
  border: none;
  border-radius: 15px;
}

.greenbutton {
  transition: background-color 0.3s ease;
  background-color: #4caf50;
}

.greenbutton:hover {
  background-color: #3e8e41;
}

.bluebutton {
  transition: background-color 0.3s ease;
  background-color: #0056b3;
}

.bluebutton:hover {
  background-color: #004080;
  color: white;
}

.active {
  font-weight: bold;
}

.nextbutton {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: rgb(32, 31, 31);
  background-color: #1c4587ff;
  border: none;
  border-radius: 15px;
}

.nextbutton:hover {
  background-color: #1c4587ff;
}

.active {
  font-weight: bolder;
}

/* Adjustments for small screens */
@media (max-width: 992px) {
  .navbar-collapse {
    background-color: #1c4587ff; /* Ensures the menu background matches */
  }

  .nav-link {
    padding: 10px 20px; /* Larger tap/click targets for mobile */
    text-align: center; /* Center-align text for a better visual on small screens */
    border-bottom: 1px solid #1c4587ff; /* Separates items visually */
  }

  .nav-item:last-child .nav-link {
    border-bottom: none; /* Removes border from the last item */
  }
}

/* quiz styling */
.quiz-image {
  margin: 1rem 0 1rem 0;
}

/* Style the quiz list, removing default list styling */
.quiz-list {
  list-style-type: none;
  padding: 0;
}

/* Style only li elements within quiz-list */
.quiz-list li {
  margin-top: 1rem;
}

/* Hide radio buttons within quiz-list only */
.quiz-list li input[type="radio"] {
  display: none;
}

/* Style labels within quiz-list to look like clickable boxes */
.quiz-list li label {
  cursor: pointer;
  background-color: white;
  display: block;
  transition: 0.1s ease;
  text-align: left;
}

/* Hover effect for labels within quiz-list */
.quiz-list li input[type="radio"]:hover + label {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

/* Checked state style for labels within quiz-list */
.quiz-list li input[type="radio"]:checked + label {
  background-color: #9fc7f3;
}

.quiz-list li label.correct {
  background-color: rgba(0, 173, 0, 0.374);
}

.quiz-list li label.incorrect {
  background-color: rgb(244, 186, 186);
}

.progress-bar {
  background-color: rgb(152, 189, 253);
}

.quiz-box {
  background-color: white;
  padding: 20px;
  border: 2px solid #666666; /* Adds a pink outline */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: adds shadow for better visibility */
  color: black; /* Ensures text is black and not the default blue of hyperlinks */
}

.forward-head {
  width: 50px;
}

/* carousel styling */

.carousel {
  position: relative;
  text-align: center;
}

.carousel__item {
  height: 200px;
  width: 450px;
  background: #c9daf8ff;
  padding: 1em;
  margin-top: 40px;
  margin-left: 30px;
  display: none;
  border-radius: 50px;
  color: black;
  border: 1px solid black;
}

.carousel__item--selected {
  display: inline-block;
}

.carousel__nav {
  width: 100%;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  margin-top: 30px;
  margin-left: 22px;
}

.carousel__button {
  width: 30px;
  height: 30px;
  display: inline-block;
  background: lightgray;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  border: 1px solid black;
}

.carousel__button--selected {
  background: #1c4587ff;
}

.arrow {
  width: 120px;
  margin-top: 100px;
  margin-left: 83px;
  border: none;
  transition: transform 0.2 ease;

  img {
    width: 100px;
  }
}

.arrow:hover {
  transform: scale(1.1);
}

.anatomynext {
  display: inline-block;
  padding: 10px 90px;

  margin-left: 100px;
  margin-top: 300px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #1c4587ff;
  border: none;
  border-radius: 15px;
}

.anatomyback {
  display: inline-block;
  padding: 10px 90px;

  margin-right: 100px;
  margin-top: 300px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #666666;
  border: none;
  border-radius: 15px;
}

.textbox {
  height: 280px;
  width: 450px;
  background: #c9daf8ff;
  padding: 1em;
  margin-top: 40px;
  margin-left: 30px;
  margin-right: 500px;
  border-radius: 30px;
  color: black;
  border: 1px solid black;
}

.stretchmedia img {
  width: 400px;
}

.motivation {
  margin: 40px;
  text-align: center;
}

.stretchnext {
  display: inline-block;
  padding: 10px 90px;
  margin-left: -40px;
  margin-top: 450px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #1c4587ff;
  border: none;
  border-radius: 15px;
}

.stretchback {
  display: inline-block;
  padding: 10px 90px;
  margin-left: -200px;
  margin-top: 450px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #666666;
  border: none;
  border-radius: 15px;
}

.stretchbox {
  text-align: center;
  height: 280px;
  width: 250px;
  background: #c9daf8ff;
  padding: 1em;
  margin-top: -20px;
  margin-left: 30px;
  margin-right: 500px;
  margin-bottom: 20px;
  border-radius: 30px;
  color: black;
  border: 1px solid black;
}

.startquizbutton {
  display: inline-block;
  padding: 10px 90px;

  margin: 20px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(28, 135, 28);
  border: none;
  border-radius: 15px;
}

/* results-styles */
#chartContainer {
  width: 18%;
  position: relative;
}

#myDonutChart {
  width: 100%;
  height: auto;
}

.remove-padding {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.square {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  border: solid 1px black;
  cursor: pointer; /* Makes it clear that the element is clickable */
  transition: background-color 0.3s ease;
}

.no_underline {
  text-decoration: none;
}

.correct {
  background-color: rgba(0, 173, 0, 0.374);
}

.correct:hover {
  background-color: rgba(
    0,
    173,
    0,
    0.844
  );
}

.incorrect {
  background-color: rgb(244, 186, 186);
}

.incorrect:hover {
  background-color: rgb(246, 109, 109); /* Dark red on hover for incorrect */
}

/* drag and drop */

.drag-instruction-block i:before {
  color: #737373;
  background: #e0e0e0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: block;
  text-align: center;
  line-height: 22px;
  font-weight: 400;
}

.drag-instruction-block p {
  font-weight: 600;
  color: #737373;
  font-size: 13px;
}

/* drop target state */
[data-draggable="target"][aria-dropeffect="move"] {
  border-color: #68b;
  background: #fff;
}

/* draggable items */
[data-draggable="item"] {
  display: block;
  list-style-type: none;
}

.draggable-module {
  border-left: 5px solid #4caf50 !important;
  padding: 30px 10px 0;
  font-size: 12px;
  color: #000000;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: -2px 3px 7px 0 rgba(153, 153, 153, 0.26);
  position: relative;
  min-height: 128px;
  cursor: pointer;
  font-weight: 700;
  min-width: 100%;
}

.droppable-section-header {
  color: black;
  font-size: 12px;
  font-weight: 600;
}

.droppable-section-lightblue {
  background-color: #62b5e5;
}

.droppable-section-midblue {
  background-color: #9fc7f3;
}

.droppable-section-darkblue {
  background-color: #0076a8;
}

.droppable-section .draggable-module {
  padding: 10px 8px 8px;
  font-weight: 600;
  text-align: center;
}

.droppable-section .draggable-module:before {
  top: -2px;
  left: 1px;
}

.text-overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px;
  /* fallback */
  max-height: 70px;
  /* fallback */
  -webkit-line-clamp: 2;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

.drop-active {
  border-color: #aaa;
}

.drop-target {
  /*background-color: #29e;*/
  border-color: #fff;
  border-style: solid;
}

.drag-drop {
  touch-action: none;
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  transition: background-color 0.3s;
}

.drag-drop.can-drop {
  color: #000;
  background-color: #f3f55f51;
}

#user-answer svg {
  margin-left: 0.5rem;
}

#correct-answer svg {
  margin-left: 0.5rem;
}

.green-highlight-text {
  background-color: rgba(0, 173, 0, 0.374);
}

.red-highlight-text {
  background-color: rgb(244, 186, 186);
}

.problemcontent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px
}

.problem-image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  /* margin: 50px; */
}
.problem-buttonContainer-forward {
  display: flex;
  justify-content: flex-end; /* Aligns the button to the right */
  width: 100%; /* Ensures the container spans the full width */
  padding-right: 100px; /* Optional: adds some padding on the right */
}

.problem-buttonContainer {
  display: flex;
  justify-content: space-between; /* Aligns the button to the right */
  width: 100%; /* Ensures the container spans the full width */
  padding-right: 100px; /* Optional: adds some padding on the right */
  padding-left: 100px;
}

.problem-button {
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #1c4587ff;
  border: none;
  border-radius: 15px;
  padding: 10px 90px;
}

.problem-button-back {
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: #666666;
  border: none;
  border-radius: 15px;
  padding: 10px 90px;
}


.problem-responsive-image {
  max-width: 500px;
  max-height: 500px;

}

.problem-marker {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #1c4587ff;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #c9daf8ff; /* Example: 2px solid black border */
}

.info-line {
  display: flex;
  align-items: center; /* Vertical alignment */
  justify-content: center; /* Horizontal alignment */
  gap: 10px; /* Adds space between the items */
  margin: 20px
}

.posture-text {
  display: flex;
  align-items: center; /* Vertical alignment */
  justify-content: center; /* Horizontal alignment */
  margin: 20px;
  font-size: larger;
  /* font-weight: bold; */
}

.problem-marker-1 {
  /* position: absolute; */
  width: 25px;
  height: 25px;
  background-color: #1c4587ff;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #c9daf8ff;
}

.problem-marker::after {
  content: attr(data-tooltip);
  position: absolute;
  left: 100%;
  white-space: nowrap;
  background-color: white;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  top: 50%;
  transform: translateY(-50%);
  border: 2px solid #c9daf8;
  display: none; /* Initially hidden */
}
.problem-marker.show-tooltip::after {
  display: block; /* Show tooltip when class is added */
}
.info-linetext{
  margin-top: 10px;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}
